Spring/springBatch/target/*
Spring/springBatch/.idea/*
Spring/springBatch/target/classes/br/com/spring_batch/entities/Account.class
Spring/springCloud/*/\.idea/*
Spring/springCloud/*/target/
Spring/springCloud/*/*/\.idea/*
Spring/springCloud/*/*/target/
Spring/springBatch/*/\.idea/*
Spring/springCloud/*/\.mvn/*
designPatterns/project/.idea/*
designPatterns/project/target/*

